<h2 mat-dialog-title>Add New Post</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="true" form="postForm">Save</button>
</mat-dialog-actions>
