<div class="flex items-center justify-center bg-gray-100" style="min-height: calc(100vh - 78px);">
  <div class="p-6 m-4 bg-white rounded shadow-md w-96">
    <h1 class="text-2xl text-center font-semibold mb-4">Login</h1>
    <div class="flex justify-center mb-4">
      <button (click)="loginWithFacebook()" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full inline-flex items-center">
        <mat-icon>facebook</mat-icon>
      </button>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="space-y-4">
      <div>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="Enter your email"
          />
          <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
            Email is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
            Please enter a valid email
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
            Password is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.errors?.['minlength']">
            Password must be at least
            {{ loginForm.get('password')?.errors?.['minlength']['requiredLength'] }}
            characters long
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button [disabled]="loginForm.invalid" mat-raised-button color="primary" class="w-full" type="submit">
          Login
        </button>
      </div>
      <div class="flex flex-col items-center justify-center">
        <span class="text-gray-400">Don't have an account yet? <a [routerLink]="['/register']" class="text-teal-400 hover:text-teal-200 w-full">Create one</a></span>
      </div>
    </form>
  </div>
</div>
