<div class="max-w-7xl mx-auto w-4/5 flex justify-end mt-3 mb-3">
    <button
      mat-raised-button
      color="primary"
      class="w-40"
      [routerLink]="['/posts']"
    >
        <mat-icon>arrow_back</mat-icon>
        Go Back
    </button>
</div>
<mat-card class="mb-2 mx-4 md:mx-10 lg:mx-20 xl:mx-40">
    <mat-card-header class="relative flex justify-center items-center">
        <div>
            <mat-card-title class="text-center font-bold text-xl">{{ post.title }}</mat-card-title>
            <mat-card-subtitle class="text-lg">
                Posted by {{ post.createdBy }} on {{ post.createdOn }}
            </mat-card-subtitle>
        </div>
        <div *ngIf="post.createdBy === user?.email" class="action-buttons absolute right-0 top-0 mt-2 mr-2 gap-2">
            <button mat-icon-button color="primary" (click)="editPost(post.id)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deletePost(post.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content class="text-center">
        <p>{{ post.content }}</p>
    </mat-card-content>
    <div class="flex justify-center py-4" *ngIf="post.imageUrl">
        <img
            mat-card-image
            [src]="post.imageUrl"
            alt="Post image"
            class="max-h-96 object-cover"
        />
    </div>
    <mat-card-actions class="flex justify-between">
        <button mat-button (click)="toggleLike()">
            {{ post.isLikedByCurrentUser ? 'UNLIKE' : 'LIKE' }}
            <i [class]="post.isLikedByCurrentUser ? 'fas fa-heart text-red-500' : 'far fa-heart'"></i>
            ({{ post.likes || 0 }})
        </button>
        <div class="mt-2 p-2 flex items-center gap-x-2">
            <input
                type="text"
                [ngModel]="commentMap.get(post.id)"
                (ngModelChange)="commentMap.set(post.id, $event)"
                placeholder="Add a comment..."
                class="border rounded w-[48rem] p-2"
            />
            <button mat-button (click)="addComment()">Post</button>
        </div>
    </mat-card-actions>
</mat-card>
<div class="mx-4 md:mx-10 lg:mx-20 xl:mx-40 mt-0">
    <mat-card *ngIf="post.comments && post.comments.length > 0; else postComment" class="gap-y-3 border-t-0">
        <mat-card-header>
            <mat-card-title>Comments:</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div *ngFor="let comment of post.comments; let last = last" class="mb-4">
                <div class="flex justify-between items-center">
                    <div>
                        <p class="text-base font-semibold inline-block">{{ comment.createdBy }} <span class="text-gray-500 text-sm">({{ comment.createdOn | relativeTime }}) <span *ngIf="comment.isEdited">(EDITED)</span></span> :</p>
                    </div>
                    <div *ngIf="comment.createdBy === user?.email" class="action-buttons mt-2 mr-2 gap-2">
                        <button mat-icon-button color="primary" (click)="editComment(comment.id!)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteComment(comment.id!, post.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div *ngIf="editCommentId !== comment.id; else editingComment">
                    <p class="text-lg">{{ comment.content }}</p>
                </div>
                <ng-template #editingComment>
                    <div class="space-x-1">
                        <input [(ngModel)]="comment.content" class="text-lg w-[48rem]">
                        <button mat-raised-button color="primary" (click)="submitEditComment(comment, post.id)">Submit</button>
                        <button class="border rounded-lg p-2" (click)="cancelEditComment()">Cancel</button>
                    </div>
                </ng-template>
                <mat-divider *ngIf="!last"></mat-divider>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<ng-template #postComment>
    <mat-card class="gap-y-3 border-t-0">
        <mat-card-content>
            <p class="text-center text-lg">No comments yet. Be the first one to comment.</p>
        </mat-card-content>
    </mat-card>
</ng-template>