<h2 mat-dialog-title>Profile Details</h2>
<mat-dialog-content>
  <form [formGroup]="profileForm">
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <div class="text-center">
      <button
        mat-stroked-button
        type="button"
        (click)="openCloudinaryUploader()"
      >
        {{ profileForm.value.imageUrl ? 'Update' : 'Upload' }} Profile Picture
      </button>
    </div>

    <div
      *ngIf="profileForm.value.imageUrl"
      class="mt-4 flex flex-col items-center"
    >
      <div class="relative">
        <div
          class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center text-white font-bold"
        >
          Image Preview
        </div>
        <img
          [src]="profileForm.value.imageUrl"
          alt="Uploaded Image"
          class="w-64 h-64 object-cover rounded-lg shadow-lg"
        />
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="profileForm.pristine" (click)="save()">
    Save
  </button>
</mat-dialog-actions>
