<button mat-icon-button [matMenuTriggerFor]="cartMenu" [matBadge]="cartProductCount" matBadgeOverlap="true">
    <mat-icon class="text-white">shopping_cart</mat-icon>
</button>

<mat-menu #cartMenu="matMenu" class="flex items-center justify-center w-96 h-96 p-2">
    <div *ngIf="cartProducts.length > 0; else noProducts">
        <div *ngFor="let product of cartProducts; let i = index" class="flex items-center justify-between mb-4">
            <div class="flex items-center space-x-4">

                <img [src]="product.imageUrl" alt="Product Image" class="w-16 h-16 object-cover rounded">
            
                <div>
                    <div class="font-semibold">{{ product.name }}</div>
                    <div class="text-gray-700">{{ product.price }} BGN</div>
                </div>
            </div>
            <button (click)="removeFromCart(product.id)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">
                X
            </button>
        </div>

        <div class="mt-4 text-lg font-bold">
            Total Price: <span class="text-green-500">{{ totalPrice.toFixed(2) }} BGN</span>
        </div>

        <div class="flex gap-x-3">
            <button mat-flat-button color="primary" [routerLink]="['/products', 'details']">View Details</button>
            <button (click)="checkout()" class="bg-green-500 hover:bg-green-700 text-white py-1 px-4 font-bold rounded">Checkout</button>
        </div>
    </div>

    <ng-template #noProducts>
        <div class="p-4 text-center text-gray-500">
            No products in the cart.
        </div>
    </ng-template>
</mat-menu>